{#Registros de compras entregados#}


<div id="datadistibuidores" style="margin-top: 20px;">
            <table id="registroComprasPendientesCanceladas"  class="mdl-data-table" cellspacing="0" width="100%">
               <thead>
                   <tr>

                        <th>ID Registro</th>
                         <th>N° Orden</th>
                       <th>Nombre Cliente</th>
                       <th>Direccion</th>
                       <th>Monto</th>
                       <th>Tipo Pago</th>
                       <th>Tipo de venta</th>

                   </tr>
               </thead>


           </table>
</div>    
