        
        
<div id="datadistribuidores" style="margin-top: 20px;">
            <table id="registroCompras" class="table table-bordered table-hover display dt-responsive dataTable no-footer" style="width: 99%;">
               <thead>
                   <tr>

                       <th><input type="checkbox" name="select_all" id="select_all"></th>
                       <th>Nombre distribuidor</th>
                       <th>Direccion</th>
                       <th>Monto</th>
                       <th>Tipo Pago</th>


                   </tr>
               </thead>


           </table>
    </div>    
