<div class="col-md-8">
         <input type="hidden" id="idDistribuidor">
         <input type="hidden" id="idDetalleRegistroCompra">
         <p class="robo" style="font-weight: 300; margin-bottom: 0px; font-size: 30px;">Busqueda de historial de cliente </p>
         <p class="robo" style="font-weight: 300; font-size: 14px; height: 40px;">Selecciona los parametros</p>
 </div>
