 <style>
        .colorAnclas{
            color: black !important;
        }
        
    </style>
<hr style="margin-top: 0px !important;">
                <div class="col-md-2" style="border-right: 1px solid #f3f3f3;">
                    <!-- Left Navigation -->
                    <ul style="list-style: none; padding: 0;">
                        <a href="{{ path('dashboard_indexCRM') }}" class="leftnava colorAnclas"><li class="leftnav left active">Menu<span class="pull-right right"></span></li></a>
                        <a href="" class="leftnava colorAnclas" style="text-decoration: none;"><li class="leftnav left ">Configuraci&oacute;n</li></a>

                    </ul>
                </div>	